@import 'pretendard/dist/web/static/pretendard.css';


*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

body {
  background: #F8F7F2;
  font-family: 'Pretendard', -apple-system, sans-serif;
  color: #1A1A1A;
  -webkit-font-smoothing: antialiased;
}

button {
  font-family: inherit;
  cursor: pointer;
}